html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

body {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}