html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

body {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.scrollable-div {
    height: 80vh; 
    overflow-y: auto; 
    padding: 20px;
}