h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

.parse-container {
    text-align: center;
    width: 300px;
}

.input-container {
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(8, 8, 8, .5);
}

.input-container input {
  margin-bottom: 10px;
}

.how-to-use {
    position: absolute;
    left: 200px;
    top: 20px; 
    max-width: 400px;
    padding-left: 10px;
    font-family: OCR A Std, monospace;
    color: #ffffff;
    background-color: rgba(8, 8, 8, .5);
}

.about {
    position: absolute;
    right: 200px;
    top: 20px; 
    max-width: 350px;
    padding-left: 10px;
    font-family: OCR A Std, monospace;
    color: #ffffff;
    background-color: rgba(8, 8, 8, .5);
}

.checkbox {
    color: white;
    font-family: OCR A Std, monospace;
}

.exp {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

a {
    color:rgba(112,163,209,255);
}

a:hover {
    color:rgb(67, 106, 145);
    cursor: pointer;
}

.result-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
}

.result, .latex {
    display: flex;  
    flex-direction: column;
    align-items: center; 
    text-align: center;
    max-width: 100%;
}

.tree {
    text-align: left;
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding: 35px;
    border-radius: 8px;
    background-color: rgba(8, 8, 8, .5);
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0px;
}

.latex_exp {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 35px;
    border-radius: 8px;
    background-color: rgba(8, 8, 8, .5);
    color:#ffffff;
    font-size: 2rem;
}

.error {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}