h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.parse-container {
    text-align: center;
    width: 300px;
}

.input-container {
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(8, 8, 8, .5);
}

.about {
    position: absolute;
    right: 200px;
    top: 20px; 
    max-width: 300px;
    padding-left: 10px;
    font-family: OCR A Std, monospace;
    color: #ffffff;
    background-color: rgba(8, 8, 8, .5);
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

.result {
    display: flex;  
    flex-direction: column;
    align-items: center; 
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    max-width: 100%;
}

.tree {
    text-align: left;
}


.error {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}