<div class="main-container">
  <div class="prime-container">
    <h1>Prime Numbers from:</h1>
    <div class="input-container">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div>
            <input
              type="number"
              placeholder="Start"
              id="start"
              name="start"
              [(ngModel)]="start"
              required
            />
          </div>
      
          <div>
            <input
              type="number"
              placeholder="End"
              id="end"
              name="end"
              [(ngModel)]="end"
              required
            />
          </div>
      
          <button type="submit">Submit</button>
        </form>
    </div>
  </div>
  <div class="about">
    <p>About</p>
    <p> 
      <a href="https://en.wikipedia.org/wiki/Sieve_of_Atkin" target="_blank">Atkin's sieve</a> is the fastest modern algorithm for finding all prime numbers up to a specified integer.
    </p>
  </div>
</div>

<div class="result" *ngIf="result">
    <p>Result:</p>
    <p class="result-list">{{ result }}</p>
</div>

<div class="error" *ngIf="error !== null">
    <p>Error: </p>
    <p>{{ error }}</p>
</div>