h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.prime-container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(8, 8, 8, .5);
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

.result {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    max-width: 100%;
}

.result-list {
    word-wrap: break-word;
    white-space: pre-wrap; 
}

.error {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}