.home-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 50px;
    padding: 50px;
}
  
.redirect-box {
    background-color: rgba(8, 8, 8, .5);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
    transition: transform 0.2s, background-color 0.2s;
    text-align: center;
}

.redirect-box:hover {
    background-color: rgba(8, 8, 8, .7);
    transform: scale(1.05);
}

p {
    font-family: OCR A Std, monospace;
}