<div class="home-container">
    <div class="redirect-box" (click)="redirect('parser')">
    <h1>Expression Parser </h1>
    <p> Convert your expressions into binary trees </p>
    </div>
    <div class="redirect-box" (click)="redirect('prime')">
        <h1> Prime Number Generator </h1>
        <p> Use Atkin's Algorithm to generate prime numbers within a range </p>
    </div>
    <div class="redirect-box">
        <h1> Derivative Calculator </h1>
        <p> In Development </p>
    </div>
    <div class="redirect-box">
        <h1> In Development </h1>
    </div>
    <div class="redirect-box">
        <h1> In Development </h1>
    </div>
    <div class="redirect-box">
        <h1> In Development </h1>
    </div>
</div>